<div id="myModal" class="reveal-modal" data-reveal>
  <h2>Sorry, you need to regester and logged in to use this tool!</h2>
  <p class="lead">Your can register from <a href="http://localhost:3001/users/sign_up">here.</a></p>
  <p>Or you can <a href="http://localhost:3001/users/sign_up">log in</a> by your registered email account</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>
