    <link rel="stylesheet" href="demo-style.css" >
    
    <link rel="stylesheet" href="orbit-1.2.3.css">
 
    <script src="jquery-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="jquery.orbit-1.2.3.min.js" type="text/javascript" charset="utf-8"></script>
   <script type="text/javascript">
   	$(window).load(function() {
   		$('#featured').orbit();
   	});
   </script>

<!-- First Band (Slider) -->
        <div class="row">
          <div class="large-12 columns">
  <div id="featured"> 
		<div class="content" style="">
			<h1>Orbit does content now.</h1>
			<h3>Highlight me...I'm text.</h3>
		</div>
    <img src="dummy-images/overflow.jpg" alt="Overflow">
    <img src="dummy-images/captions.jpg" alt="Captions">
    <img src="dummy-images/features.jpg" alt="Features">
    <img src="dummy-images/coffee.jpg" alt="Coffee">
    <img src="dummy-images/001.jpg" alt="001">
    <img src="dummy-images/002.jpg" alt="002">
    <img src="dummy-images/003.jpg" alt="003">
    <img src="dummy-images/004.jpg" alt="004">
    
  </div>
  </div>
  </div>


<!-- Three-up Content Blocks -->
 
	<div class="row">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>野外调查的帮手This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>地理分析的平台This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>相互交流的空间This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <%= link_to 'Contact Us', '/contact', class: "radius button right" %>
          </div>
        </div>
      </div>
      
    </div>
  </div>