<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.mobile.erb</p>

<h2>This is a mobile template!</h2>

 <!-- <% form_tag gazetteers_path, :method => :get do %> -->
 <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name=> nil %>
</p>

 <% end %>


