<% content_for :title do %>About
<% end %>
<h3>About Range Over of Plants</h3>
<p>This is a geolocation solution for botanical field survey or specimens based bieographyical analyses.</p>
<p>His favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
