<h1>Geocode#index</h1>
<p>Find me in app/views/geocode/index.html.erb</p>

<form id="addressForm">
<p><label for="address" class="secondary radius label">Please put your address here:</label>
<input type="text" name="address" id="address" /></p>

<input type="submit" id="addressButton" class="button radius" value="Get Coordinates" />
    <label id="message"></label>
  </form>
<div id="map"></div>


