<h1>Geocode#show</h1>
<p>Find me in app/views/geocode/show.html.erb</p>

<!-- shoud add conditon to control show results after click the map -->
<%= render 'result' %>
<div id="map" style='width: 800px; height: 400px;'></div>

<%= render 'reversegeocode' %>
