<h1>Geocode#show</h1>
<p>Find me in app/views/geocode/show.html.erb</p>
<script type="text/javascript"
src="http://maps.google.com/maps/api/js?sensor=false&language=zh"></script>
<script src="../../assets/javascripts/reversegeocode.js" type="text/javascript" charset="utf-8"></script>

<!-- shoud add conditon to control show results after click the map -->
<%= render 'result' %>
<div id="map"></div>
