//footer#page_footer { 
//  background-color: #807c77; 
//  border-bottom: 10px solid #4c2719; 
//  color: #fff;
//  font-size: 0.7em;
//  height: 100px;
//  padding: 10px 20px;
//  ul {
//    margin-left: -10px;
//    padding: 0;
//    li {
//      border-right: 1px solid #fef8e7;
//      display: inline;
//      margin: 0;
//      &:last-child {
//        border-right: none;
//      }
//      
//      a{
//        padding: 5px 10px; 
//        &:link,
//        &:hover, 
//        &:visited, 
//        &.active {
//          color: #fff;
//        }
//      } 
//    }
//  } 
//}

// fix google map left panel widgets distored
#map img {
  max-width : none; 
}

div#map {
  border: solid green;
  width: 1000px;
  height: 400px;
}
//section#content { 
//  float: left;
//}
//section#sidebar {
//   float: right;
//   margin-right: -300px;
//   width: 300px;
//}