
<footer>
<ul class="breadcrumbs">
  <li><a href="#">Home</a></li>
  <li><a href="#">Contact</a></li>
  <li class="unavailable"><a href="#">Gene Splicing</a></li>
  <li class="current"><a href="#">Cloning</a></li>
  <p>&copy; 2011 AwesomeCo. All Rights Reserved. All Wrongs Reversed.</p>
</ul>
</footer>
