<footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright 2013-2014. IBCAS</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to "contact", new_contact_path %></li>
          <li><%= link_to "Help", '/help' %></li>
          <li><%= link_to "About", '/pages/about' %></li>
          <li><%= link_to "Feedback" %></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>