
<div class="small-2 panel clearfix right">
<div class="off-canvas-wrap">
  <div class="inner-wrap"><!-- all content goes here -->
<aside class="right-off-canvas-menu"><!-- put your links in here -->

<ul class="off-canvas-list">
  <li class="active"><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>

</aside>

  </div>
</div>
</div>
